body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  text-align: center;
}

#header {
  padding: 2em 0;
  background-color: #bbffe0;
}

#branch {
  padding: 5em 1em;
}

#radioGroup {
  padding: 1.3em 0.5em;
}

#duckType {
  padding: 1em ;
}

#subHeader {
  padding: 2em 1em;
}

#twoEm {
  padding: 2em;
}